.content {
  .header-add {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .table-content {
    Table > thead > tr > th {
      padding: 0px 30px 0px 30px !important;
      vertical-align: middle;
      text-align: center;
      // width: 59.9219px;
    }
    Table > tbody > tr > th {
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
    }

    Table > tbody > tr > .desciption-th {
      // text-align: left !important;
    }
    .edit-icon {
      margin-right: 10px;
      cursor: pointer;
    }
    .delete-icon {
      cursor: pointer;
      color: red;
      font-weight: bold;
    }
    .edit-icon:hover {
      color: rgb(0, 89, 255);
    }
    .delete-icon:hover {
      color: rgb(184, 1, 1);
    }
  }
}
